body {
  background-color: whitesmoke;
  border: solid;
}

h1 {
  color: blueviolet;
  text-align: center;
}

h2 {
  color: black;
  text-align: center;
}

.App {
  font-family: sans-serif;
  border-radius: 5px 10px;
  height: 90vh;
}

.list1 {
  background-color: darksalmon;
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 71vh;
}

.list2 {
  background-color: darksalmon;
  display: flex;
}

p {
  border: 2px solid black;
  color: black;
  text-align: center;
  padding: 10px 10px 10px 10px;
  border-radius: 2px 20px;
}

.dis1 {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.dis2 {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.dis3 {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.state {
}

.state button {
  margin-left: auto;
  margin-right: auto;
}
